/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
  }
  
  /* Heading styles */
  h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2.5em;
  }
  
  /* Container styles */
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Paragraph styles */
  p {
    margin-bottom: 10px;
    font-size: 1.1em;
  }
  
  /* Input and button styles */
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 16px;
    line-height: 1.5;
  }
  
  button#clean-button {
    display: block;
    margin: 0 auto;
    width: 200px;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button#clean-button:hover {
    background-color: #3e8e41;
  }
  
  /* Output styles */
  #output-container {
    display: none;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 20px;
  }
  
  #output-container pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    overflow: auto;
  }

  /* Add this CSS to your stylesheet */

textarea {
    position: relative;
    padding-right: 80px; /* Add some padding on the right to make space for the character count */
  }
  
  textarea::after {
    content: attr(data-charcount) " characters"; /* Add the character count as content */
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    color: #999;
  }
  
  
  #output-label {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Copy button styles */
  button#copy-button {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    margin: 8px 0;
  }
  
  button#copy-button:hover {
    background-color: #3e8e41;
  }  